[submodule "bartlby-core"]
	path = bartlby-core
	url = https://github.com/Bartlby/bartlby-core.git
[submodule "bartlby-extensions"]
	path = bartlby-extensions
	url = https://github.com/Bartlby/bartlby-extensions.git
[submodule "bartlby-chrome"]
	path = bartlby-chrome
	url = https://github.com/Bartlby/bartlby-chrome.git
[submodule "bartlby-ui"]
	path = bartlby-ui
	url = https://github.com/Bartlby/bartlby-ui.git
[submodule "bartlby-agent"]
	path = bartlby-agent
	url = https://github.com/Bartlby/bartlby-agent.git
[submodule "bartlby-plugins"]
	path = bartlby-plugins
	url = https://github.com/Bartlby/bartlby-plugins.git
